[2018-04-09 13:24] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-04-09 13:25] #1 closed

[2018-04-09 13:29] holgerd77 opened #2 "Node discovery v5 implementation"
Implementation of the new Node discovery protocol, necessary for a reliable light client connection.

See: https://github.com/ethereumjs/ethereumjs-devp2p/issues/19

[2018-04-11 08:34] holgerd77 opened #3 "Logging Concept"
#### Description

The library needs consistent logging to show CL users what is going on, see e.g. the logging output of another client like ``geth`` as an example:

[code]

As minimal requirements there should be the possibility to have output on different log levels and separated by modules/topics (networking, chain sync maybe) which can be switched on and off.

#### Possible Implementation

The

[2018-04-11 09:24] holgerd77 opened #4 "Configuration / Constants Management"
#### Description

There should be some central place to keep and manage config options passed (and parsed :-)) through the CL parser as well as constants relevant for the client.

This issue should be implemented relatively quickly without having all config options / constants available just for the sake of having the structure in place.

#### Possible Implementation

In a separate file ``lib/conf

[2018-04-11 09:40] holgerd77 opened #5 "Structure and initialization of data directory"
#### Description

It should be worked out a directly structure where chain and state data is stored, also to be considered is syncing of different networks and light und full sync. This can but doesn't has to be in line with other client implementations.

The data dir has to be initialized at the start of the application, depending on the passed CL options.

#### Possible Implementation

This does

[2018-04-11 10:10] holgerd77 opened #6 "Chain Data Synchronization"
#### Description

The client should be able to sync both either block headers (light sync) or block headers and bodies (fast sync) and store both in the DB provided.

It should be possible to abort a sync, syncing should be resumed (light sync) starting with the last canonical block header.

#### Possible Implementation

Syncing has to be done using the appropriate ``ETH`` respectively ``LES`` pro

[2018-04-11 10:17] holgerd77 opened #7 "Networking/p2p integration"
#### Description

Networking has to be initialized and started once the client has been started.

#### Possible Implementation

All networking is done from within the ``ethereumjs-devp2p`` library, see the [example](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/examples/peer-communication.js) code for initialization details.

Configuration options have to be passed there in a clean m

[2018-05-10 14:44] shamoons opened #10 "Suggestion to use TypeScript"
#### Description
We should consider using TypeScript for this, since it'll make data handling a bit easier to handle

#### Possible Implementation

#### UI

#### Reference Implementations / Links

[2018-05-10 16:34] aunyks opened #11 "Ready for Contribution?"
Which development stage is the project in? I'd love to contribute.

[2018-05-11 14:06] holgerd77 commented on #11
Uh oh, I'll try to hurry up a bit if you guys are so eager to start! 👍 🏁 🐰

I'll do some roundup and clean things up a bit on Monday and Tuesday and hopefully go on to the next phase on Wednesday. We can also rephrase this a bit to "Concept Analysis / Early development", but then please don't start with the most controversial stuff as first PR, hehe.

[2018-05-12 04:11] aunyks commented on #11
Oh, there's no need to hurry. Take as much time as you see fit! Just keep me posted ;)

[2018-05-23 08:28] holgerd77 commented on #10
Hi @shamoons, we had various requests on this on different ``ethereumjs`` libraries (like e.g. https://github.com/ethereumjs/rlp/pull/25). Things are a bit stalled on this front though since noone in the active ``ethereumjs`` team is a TypeScript user and so there is no one who could really maintain this.

If we want to finally have TypeScript support we (someone) have (has) to start in the differ

[2018-05-23 08:30] holgerd77 commented on #7
Done in the stub implementation, will close.

[2018-05-23 08:30] #7 closed

[2018-05-28 12:43] holgerd77 commented on #3
Logging support has now been added to the stub implementation using the ``winston`` library (see above), there is still room for improvement regarding formatting and devp2p log integration but will close for now.

[2018-05-28 12:43] #3 closed

[2018-05-28 12:45] holgerd77 commented on #4
This has been implemented in the ``constants.js`` module, will close.

[2018-05-28 12:45] #4 closed

[2018-05-28 12:50] holgerd77 opened #15 "Add support for Ropsten chain syncing"
#### Description

Currently the client only syncs to the mainnet due to current limitations of the ``ethereumjs-block`` library regarding genesis block creation.

This should in a first step be extended to ``Ropsten`` (as being structurally similar) to lay the groundwork for eventual further expansions (to PoA networks e.g.).

Depends on https://github.com/ethereumjs/ethereumjs-block/pull/44.

[2018-05-28 12:51] holgerd77 commented on #6
Chain syncing is now (basically) working without verification. Will leave this issue open for reference.

[2018-05-28 12:54] holgerd77 opened #16 "Fix DB synchronization error"
#### Description

Chain syncing is resulting in some DB error after some time, syncing is not able to recover. This has to be debugged and fixed.

[2018-05-28 12:55] holgerd77 commented on #2
Issue has now been funded with a bounty on [GitCoin](https://gitcoin.co/issue/ethereumjs/ethereumjs-devp2p/19/471), work has been started on this.

[2018-05-28 12:58] holgerd77 commented on #11
Officially moved to the next phase, you're the first to be noted 😄. Will write-up some more issues tomorrow and then make an official announcement.

I also reframed the second stage a bit - from "Concept Analysis" to "Concept Analysis / Early Development", think we should already have some common ground for development and it should be possible to carefully to the first development steps. 👟

[2018-05-28 15:32] aunyks commented on #11
Awesome! Sounds good

[2018-05-29 09:05] holgerd77 opened #18 "Add block validation to chain syncing"
#### Description

Currently validation on chain syncing is not taking place, the blockchain class [is initialized](https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/chain/ChainManager.js#L22) with validation set to ``false``.

This should be changed. 😄

#### Possible Implementation

Work is largely taking place on the ``ethereumjs-block`` library, which has to be backported to suppor

[2018-05-29 09:30] holgerd77 opened #19 "[META] Chain syncing speed improvements"
#### Description

Chain syncing works but is still on the slow side. Furthermore there is a particular issue with syncing getting slower after some minutes and coming more-or-less to a halt (might be an issue with peer management/communication in the [ethereumjs-devp2p](https://github.com/ethereumjs/ethereumjs-devp2p), but no proof for this yet).

#### Possible Implementation

Getting chain syncin

[2018-05-29 09:41] holgerd77 opened #20 "Separation of LES/ETH network management tasks"
#### Description

Currently there is some preparation with an ``EthNetworkManager`` subclass in the ``net`` folder, but more or less all the network management tasks and communication is taking place is the generic [NetworkManger](https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/net/NetworkManager.js) class. It should be investigated early on, how this can be separated cleanly betwe

[2018-05-29 10:50] holgerd77 opened #21 "Testing Strategy"
#### Description

This library is currently completely untested, there is just a stub test file in the ``tests`` folder allowing for the basic CI setup, which is already running.

While most of the module functionality is tested in the different ``EthereumJS`` repositories like ``ethereumjs-blockchain``, ``ethereumjs-block`` or ``ethereumjs-devp2p``, there have to be integration tests testing the

[2018-05-29 11:00] holgerd77 opened #22 "Early on VM tests"
#### Description

Thanks to the work of @vpulim the ``ethereumjs-blockchain`` library is now compatible with Geth chain DBs starting with the [v3.x](https://github.com/ethereumjs/ethereumjs-blockchain/releases/tag/v3.0.0) release series.

This can (and should 😛) be used to run the VM on a post-Byzantium synced Geth chain DB and process actual mainnet transactions to see how early on how the VM beh

[2018-05-30 02:44] etherai opened #23 "Look to BCOIN for inspiration"
#### Description

See BCOIN for inspiration on project structure / plugin architecture

#### Possible Implementation

BCOIN

#### UI

BCOIN has a UI framework for building dashboards see bpanel

#### Reference Implementations / Links

https://github.com/bcoin-org/bcoin
http://bcoin.io/bpanel-docs/docs/bpanel-overview.html

[2018-05-31 08:49] fgimenez commented on #16
Hi! I'd like to give this task a try, how can I reproduce?

Thanks :)

[2018-05-31 10:09] holgerd77 commented on #16
Hi, cool, you're welcome! 😃 Just run the client start command from the Readme, this should occur every time I've a couple of block sync messages.

[2018-05-31 20:08] fgimenez commented on #16
Ok, I'm getting this error after a while:
[code]
Looks like when this happens block is the string `OPEN` instead of a proper block object. This value is set here https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/net/NetworkManager.js#L85, not sure yet why this happens, but this should fix it https://github.com/ethereumjs/ethereumjs-client/pull/24.

I'd like to add some tests, any sug

[2018-05-31 22:07] holgerd77 commented on #16
Not sure if this case really needs some tests, since stuff like that is directly visible in the console. Generally we need a testing strategy - see https://github.com/ethereumjs/ethereumjs-client/issues/21 - this still has to be developed.

[2018-05-31 22:10] holgerd77 commented on #23
Thanks, not sure how much we can take from there, but really nice for inspiration.

[2018-05-31 23:13] LogvinovLeon commented on #10
@holgerd77 I would be happy to start on that and commit some of my time.
I'm on the dev tools team of 0xProject and we have our whole monorepo in TS. I've been using TS for more than a year in production in different environments. I've also just contributed external TS typings to [ethereumjs-tx](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26118) and [ethereumjs-abi](https://github.com/

[2018-06-01 11:13] stefek99 commented on #10
TypeScript is a quantum leap.

In another job took me 2 days to become proficient.

Massive productivity gain onwards.

Full support to this proposal.

Lowest common denominator? HMMM...

[2018-06-01 15:31] henriquea commented on #10
I like TS but have mixed feelings about using it in open source projects. It becomes a barrier for a lot of developers keen to contribute. @LogvinovLeon is super talented I'm sure he would do great. Adopting TS would mean to have at least one or two weapons like him fully committed to this project. That's my two cents 😊

[2018-06-01 17:31] LogvinovLeon commented on #10
@henriquea It's also hard for new developers to try to guess the types. When working with an untyped code you should be extremely careful and have much more context, because all the errors will reveal themselves only at runtime. I'm not saying TS is free. It adds overhead and complexity. I'm just saying that from all the people I know who've made this choice - I know no one who regrets it. (Discla

[2018-06-01 21:59] holgerd77 commented on #21
Cool! 👍

[2018-06-01 22:01] #16 closed

[2018-06-02 07:43] EdsonAlcala commented on #10
I have started to code TS recently, I could help and commit some of my time !

[2018-06-04 15:43] kikoncuo opened #25 "[bug] Error starting the client, incorrect database folder creation in Win32"
#### Description
When starting the client, if there is no chaindb folder in the project root, there is a crash

[code]

This is because it tries to create the folder mainnet inside of the chaindb folder which doesn't exist

#### Possible Implementation

Add the empty folder to the project; will do this by creating the folder and inside a .placeholder file so the folder can be committed.

#### Refe

[2018-06-04 15:50] holgerd77 commented on #25
Ah no, that's not a good way for implementation. This folder shouldn't be assumed to be there, since in the future, the folder should be configurable by CL. If a folder is not existing, it should be added recursively, I think I already added some base functionality for this in the ChainManager class.

[2018-06-04 15:58] kikoncuo commented on #25
You are right, I fixed it as you proposed it, confirm if you haven't done it, I can create a PR

[2018-06-04 20:06] holgerd77 commented on #25
Yes, would be cool if you can open a PR

[2018-06-05 22:40] dylanbathurst commented on #23
I work at Purse.io, the company that created bcoin/bcash/bpanel etc. I'm happy to make any introductions to the core devs if it would be helpful.

[2018-06-06 10:26] holgerd77 commented on #23
@dylanbathurst I think we have to think this through more thoroughly if/how far we want to go into this direction or if this might be a separate project cc @vpulim, definitely a gentle offer, thanks!

[2018-06-06 16:05] kikoncuo commented on #25
Sorry for the delay, I've been swamped at work...

The problem existed only in windows:
Path.sep tries to generate an array based on the elements in the path.
It takes in account OS, which means in POSIX it expects a / and in Win32 a \\, the provided path was / and in windows it didn't separate it correctly.

The problem is fixed by normalizing the path, good news is that the path library already

[2018-06-06 18:48] vpulim commented on #23
@etherai, @dylanbathurst There are a lot of good design patterns in bcoin to take inspiration from. Thanks for the pointer.

[2018-06-07 14:21] kikoncuo commented on #5
From learning how path creation and normalization works from #26 I've done this:

added datadir arg in cliParser.js
recover variable when starting the client
normalize the variable to avoid OS incompatibilities, and update the path to include the chainName.

PR posted.

[2018-06-08 16:16] ponarunkumar opened #28 "ethereumjs-devp2p DPT bootstrap error"
#### Description

/ethereumjs-client$ node lib/index --networkid=3
[ethereumjs-client] 2018-06-08T14:48:49.174Z info: ethereumjs-client initialized
[ethereumjs-client] 2018-06-08T14:48:49.176Z info: Connecting to the ropsten network
[ethereumjs-client] 2018-06-08T14:48:49.180Z info: Initialized data directory: ./chaindb/ropsten
[ethereumjs-client] 2018-06-08T14:48:49.372Z info: Initialized blockch

[2018-07-10 01:22] bit-warrior commented on #28
Both(13.84.180.240,52.169.14.227) of the ropsten network bootstrap nodes seems to be unreachable.

[2018-07-10 08:53] holgerd77 commented on #28
@bit-warrior Thanks for reporting, yes, issue is still open, if you want to submit a PR with the updated nodes from the ``go-ethereum`` file that would be appreciated!

[2018-07-10 08:58] holgerd77 commented on #28
Not have digged into that to see how to do it - probably emitting an event - but this issue should also be better handled on the ``ethereumjs-devp2p`` side, so that this is not throwing in such an out-of-place error message and can be better handled instead.

Associated code is here: https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/src/dpt/server.js#L73

[2018-07-12 07:53] holgerd77 commented on #28
Note: PR has been merged, this still needs a release on the ``ethereumjs-common`` side, otherwise this is solved.

[2018-07-15 02:17] vpulim commented on #23
I've submitted a PR drawing heavy inspiration from bcoin. See here: https://github.com/ethereumjs/ethereumjs-client/pull/37

[2018-07-15 15:12] vpulim commented on #20
See #37

[2018-07-15 15:20] vpulim commented on #19
One way to improve performance is to track RTT (round trip time) and throughput of each peer in order to determine it's capacity. This will allow us to maximize the number of requested headers/blocks from that peer.

See here: https://github.com/ethereum/go-ethereum/blob/master/eth/downloader/peer.go#L262-L321

[2018-07-20 08:17] #20 closed

[2018-07-20 08:18] #11 closed

[2018-07-20 08:20] holgerd77 commented on #6
Update: Structure has changes significantly with the introduction of dedicated and separated synchronization strategies, see: https://github.com/ethereumjs/ethereumjs-client/tree/master/lib/sync

[2018-07-23 17:00] vpulim commented on #5
Fixed in #37

[2018-07-23 17:00] #5 closed

[2018-07-23 17:01] vpulim commented on #23
Closing since #37 has been merged

[2018-07-23 17:01] #23 closed

[2018-07-23 19:40] vpulim commented on #25
Fixed in merged PR #37. Closing.

[2018-07-23 19:40] #25 closed

[2018-07-23 19:48] bit-warrior opened #39 "Its not opening RPC end point waiting for entire syncing to finish."
#### Description

I am running  node bin/cli.js. Its not opening RPC end point and  waiting for entire syncing to finish.

#### Possible Implementation

https://github.com/ethereumjs/ethereumjs-client/blob/7021bb216572a7c356304df66e05f0cf5c3c3616/bin/cli.js#L91

waiting on this forever before initiating RPC end point

Place this code https://github.com/ethereumjs/ethereumjs-client/blob/7021bb21657

[2018-07-23 20:00] vpulim commented on #39
@bit-warrior I was assuming the RPC server shouldn't be run until we had a fully synched blockchain. But I think that was a bad assumption.

I'll submit a fix, but for now, you can make the following change to get unblocked:

https://github.com/ethereumjs/ethereumjs-client/blob/7021bb216572a7c356304df66e05f0cf5c3c3616/bin/cli.js#L65

to:

``node.start()``

[2018-07-23 20:11] vpulim commented on #39
https://github.com/ethereumjs/ethereumjs-client/pull/40

[2018-07-31 20:03] vpulim commented on #28
Closing since this looks to be solved.

[2018-07-31 20:03] #28 closed

[2018-07-31 20:04] vpulim commented on #15
Depends on https://github.com/ethereumjs/ethereumjs-blockchain/pull/59. Once that is merged, this issue can be closed.

[2018-08-03 04:19] bit-warrior opened #42 "With latest commit RPC calls are failing"
#### Description
@vpulim   With latest commit RPC calls are failing

curl -X POST --data '{"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0x1b4", true],"id":1}' -H "Content-Type: application/json" http://127.0.0.1:8545|jq

ERROR [08-03|00:09:37] uncaughtException: Cannot read property 'getBlock' of undefined
TypeError: Cannot read property 'getBlock' of undefined
    at Eth.getBlockByN

[2018-08-03 06:27] vpulim commented on #39
Closing. Fixed in #41

[2018-08-03 06:27] #39 closed

[2018-08-03 11:58] vpulim commented on #42
@bit-warrior Fixed in #43.

[2018-08-13 13:51] bit-warrior opened #45 "eth_getTransactionByHash implementation"
@vpulim  Can you please validate my understanding about implementation  path for eth_getTransactionByHash.

For "eth_getTransactionByHash." to be implemented , we need transaction Trie to be in DB and its not done yet.

[2018-08-13 16:05] bit-warrior commented on #45
i think even transaction trie will not help.  probably all the transactions are indexed using hash as key . is this a thought in right direction?

[2018-08-13 22:44] #42 closed

[2018-08-15 07:35] vpulim commented on #45
@bit-warrior yes, that’s correct. ethereumjs-blockchain will have to be modified to index transactions by hash. Geth stores entries in the database that contain a block hash and the transaction index within that block’s transaction list. These entries are keyed by the transaction hash.

We should go through all the rpc calls and see what additional indices are needed in the database so we can see

[2018-08-15 13:25] bit-warrior commented on #45
yes, i will submit a PR for this.

[2018-08-18 17:15] MicahZoltu opened #46 "Fix links in readme."
A couple links at the top of the readme are broken.  I don't know where they are supposed to go, so I can't fix them.

[2018-08-22 03:54] vpulim commented on #46
Thanks @MicahZoltu, will take a look

[2018-08-23 19:05] bit-warrior commented on #45
@vpulim

I was looking into the geth code for implementation  details to store and retrieve transaction by hash..

[code]

[2018-08-25 03:31] bit-warrior commented on #45
Yeah may be , in go implementation while making Block object transactions are inserted in the same order as of transaction index but in this JS implementation transaction index order is not honored. I tried iterating over it and getting the index far off form transaction index.

[2018-09-04 19:51] aunyks opened #48 "Error on NPM Install"
#### Description
I've been receiving errors when cloning this repository and trying to install dependencies. The same error shows when installing with `yarn` as well.

Node: v8.0.0
NPM: v5.8.0

[code]

#### Possible Implementation
N/A

#### UI
CLI

#### Reference Implementations / Links
N/A

[2018-09-04 20:02] jwasinger commented on #48
NodeJS/NPM version?

[2018-09-04 21:31] aunyks commented on #48
@jwasinger
Node: v8.0.0
NPM: v5.8.0

[2018-09-04 21:38] jwasinger commented on #48
Huh.. that's very strange.  I would suggest setting up a fresh environment (VM) and trying to see if you get the same error.

I used Node v8.10.0 and Npm 3.5.2 and couldn't reproduce this.

[2018-09-04 21:41] aunyks commented on #48
Will do. Thanks for taking a look

[2018-09-12 14:18] vpulim commented on #48
@aunyks Were you able to reproduce this error after setting up a fresh node environment? If not, I’ll close out this issue.

[2018-09-12 17:14] aunyks commented on #48
@vpulim I'm not sure how to set up a fresh Node env? Do you have a resource explaining how to do so?

[2018-09-12 20:13] aunyks commented on #48
Thanks @jwasinger. I'll close right now and do some more troubleshooting then reopen if I'm still having trouble.

[2018-09-12 20:13] #48 closed

[2018-09-22 01:51] vpulim opened #50 "Add support for chain re-orgs"
Currently, we assume there is only one canonical chain. We need to added support in HeaderPool and probably LightSync for chain re-orgs.

[2018-09-22 01:56] vpulim commented on #15
Closing this since the client now support multiple networks.

[2018-09-22 01:56] #15 closed

[2018-10-04 08:57] holgerd77 opened #53 "Dependency installation fails on Node 10 / Update leveldown, levelup versions"
Just tried to reinstall dependencies from within my local GitHub repository with ``npm install`` with Node ``v10.9.0``, this is failing due to an error in the ``leveldown`` installation procedure.

I am not re-stating the error here, I think the issue is that we are in general using pretty outdated (in the library ``^1.9.0``, latest version [v4.0.1](https://github.com/Level/leveldown/releases)) ``

[2018-10-09 20:06] vpulim commented on #53
@holgerd77 yes, we definitely need to update the levelup/down modules to more recent versions. I believe there was a breaking change in one of the recent versions, but I will take look and try to get the EthereumJS libraries updated.

[2018-10-13 18:33] #46 closed

[2018-10-13 18:37] vpulim commented on #19
Closing this out for now since LES flow control has been implemented to maximum header count per request, and fast sync is reasonably fast now (once several peers are found) but speed improvement will be an ongoing goal.

[2018-10-13 18:37] #19 closed

[2018-10-13 18:40] vpulim commented on #6
Fast sync (header and bodies) and light sync (headers only) are both implemented so I'm closing this out.

[2018-10-13 18:40] #6 closed

[2018-10-15 21:43] shumail92 commented on #10
Fully support the proposal. Though TS comes with complexity & overhead, I believe that the gains are significant compared to added overhead.

[2018-10-16 09:46] holgerd77 commented on #10
Just doing some reading on this, started with:

- https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html
- https://stackify.com/typescript-vs-javascript-migrate/

Sounds doable also for existing projects, I have a strong tendency towards it.

[2018-10-16 10:03] holgerd77 commented on #10
Just opened a generic issue on our ``organization`` repository: https://github.com/ethereumjs/organization/issues/28

For a broader discussion you can also go there.

[2018-10-24 01:45] vpulim opened #57 "Uncaught "Connection timeout" error"
#### Description
The following error is thrown intermittently:
[code]

#### Possible Implementation
I believe this is due to an uncaught error generated by ethereumjs-devp2p when it discovers a peer that doesn't advertise a tcp listen port, but then tries to connect to that peer on that port.

[2018-11-02 13:45] vpulim commented on #53
@pzagor2 Yes, that would be great! Thanks

[2018-11-13 10:56] vpulim opened #67 "Download header skeleton"
Currently, we download headers from multiple peers in parallel, but if one or more peers is bad or on a different fork it will break the header chain. Instead, we should download a header skeleton from the origin peer, and use it to ensure chunks of headers we download from other peers are valid before we import them. We also need to handle the case where the origin peer itself is bad or on a fork

[2018-11-13 10:59] vpulim opened #68 "Hive setup"
Create a hive configuration for client so we can have a test environment for chain syncing and block validation.

[2018-11-13 22:47] aunyks commented on #18
Is this resolved or close to resolution?

[2018-11-15 15:16] vpulim commented on #18
Enabling the validate flag should pretty much work now for PoW chains. PoA chains like Rinkeby will still fail validation until these issues are solved:

https://github.com/ethereumjs/ethereumjs-block/issues/45
https://github.com/ethereumjs/ethereumjs-blockchain/issues/76

[2018-12-02 22:02] vpulim opened #73 "Integration Tests"
- [ ] [Blockchain]
    - [ ] Persists properly
    - [ ] Put/Get blocks and headers
- [ ] [Network] RLPx Transport
    - [ ] [Peer] Manually connect to peer
    - [ ] [Peer] Bind protocols
    - [ ] [Peer] Send/receive messages and status
    - [ ] [Server] Discover peers
    - [ ] [Server] Listen for peer connections
- [ ] [Network] Libp2p Transport
    - [ ] [Peer] Manually connect to peer
    -

[2018-12-05 05:16] aunyks commented on #53
Happy to see this getting some attention! This error during `npm install` is what kept me from contributing for a while 😅 .

[2018-12-05 05:17] aunyks commented on #21
Is this still an issue or can it be closed?

[2018-12-06 15:58] vpulim commented on #21
This can probably be closed since I finished writing all the unit tests that get us to over 90% coverage. I would still like to see some integration tests done to make sure components are working together correctly. I've created a new issue for this: https://github.com/ethereumjs/ethereumjs-client/issues/73 so we can close down this one.

[2018-12-06 15:59] #21 closed

[2018-12-06 19:00] vpulim commented on #53
@aunyks Are you still seeing this error? I'm not able to reproduce it using node `10.4.0`

[2018-12-06 19:08] vpulim opened #77 "Implement state downloading"
In order to do perform a fast sync, we must implement the ability to recursively download a complete recent state trie. We can do this by querying peers for trie nodes and their children starting from the state root using the `GetNodeData` message of the ETH wire protocol.

[2018-12-07 05:16] aunyks commented on #53
@vpulim I haven't seen it recently since I'm on `v11.1.0`. I was seeing it on `~v8`, however.

[2018-12-07 19:07] vpulim commented on #57
This can closed once this PR is merged and released: https://github.com/ethereumjs/ethereumjs-client/issues/57

[2018-12-08 19:59] vpulim commented on #57
That would be great! Thanks

[2018-12-09 18:48] aunyks opened #80 "Is the eth/63 protocol fully supported yet?"
#### Description
In [EthProtocol](https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/net/protocol/ethprotocol.js), the list of supported versions includes eth/62 *and* eth/63, but in the file I'm unable to find messages that correspond to [those defined in eth/63](https://github.com/ethereum/wiki/wiki/Ethereum-Wire-Protocol#fast-synchronization-pv63).

Is eth/63 fully supported or is

[2018-12-09 23:50] aunyks commented on #80
Note: I believe this is closely related to #77.

[2018-12-09 23:53] vpulim commented on #80
@aunyks no, I’ve only been adding message definitions to EthProtocol and LesProtocol as needed. Yes, as part of addressing #77, GetNodeData will need to be defined

[2018-12-09 23:56] aunyks commented on #80
Cool. I was originally asking because I was going to implement [`eth_protocolVersion`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_protocolversion) and was unsure which protocol version was the latest we support.

I'll open a PR for that then try to explore going about supporting `eth/63`.

[2018-12-09 23:56] #80 closed

[2018-12-10 00:07] vpulim commented on #80
Great. Yes, I think the RPC method should return support for 63

[2018-12-12 12:16] holgerd77 commented on #57
Ok, just published ``ethereumjs-devp2p`` [v2.5.1](https://github.com/ethereumjs/ethereumjs-devp2p/releases/tag/v2.5.1).

[2018-12-12 12:40] vpulim commented on #57
Awesome! Thank you

[2018-12-12 14:02] vpulim commented on #53
Ok thx @aunyks. The [ethereumjs-blockchain](https://github.com/ethereumjs/ethereumjs-blockchain) and [merkle-patricia-tree](https://github.com/ethereumjs/merkle-patricia-tree) libraries have both been updated to use recent versions of `level` modules. I haven't been able to reproduce this with node version 8, 9, 10 or 11 so I'm going to close out this issue.

[2018-12-12 14:02] #53 closed

[2018-12-12 14:35] #57 closed

[2018-12-12 14:38] vpulim commented on #45
Closing this for now. Tracking this and other methods in #17

[2018-12-12 14:38] #45 closed

[2018-12-12 14:40] vpulim commented on #2
Closing this issue for now until the v5 spec is finalized and v5 becomes the preferred protocol for other clients.

[2018-12-12 14:40] #2 closed

[2018-12-13 09:13] holgerd77 commented on #53
Just as a note: ``merkle-patricia-tree`` hasn't been released yet though with the ``level`` DB updates.

[2018-12-14 02:38] aunyks commented on #77
Has someone claimed this?

[2018-12-14 02:42] vpulim commented on #77
@aunyks I was planning on taking this on next, but wanted to do some re-factoring if the sync/fetched classes in preparation. State download will be much easie after the refactor. If you’d like to claim this, would you mind waiting until next week after I committed the refactor changes?

[2018-12-14 02:44] aunyks commented on #77
Of course!

[2018-12-14 02:46] vpulim commented on #77
Cool, thanks

[2018-12-18 03:30] aunyks commented on #22
@holgerd77 What steps, if already identified, need to be taken to reach more or full mainnet-compliance?

[2018-12-21 10:44] holgerd77 commented on #22
The one thing is to **run the VM on the actual blockchain**, this can now be done on an existing geth DB and there is also some example [here](https://github.com/ethereumjs/ethereumjs-blockchain/pull/47#issuecomment-386603094), probably @vpulim can say more on the status of this.

The other thing is **re-adding legacy fork support for the VM**, see discussion [here](https://github.com/RainBlock/me

[2019-01-13 20:43] aunyks commented on #77
@vpulim School just started for me recently so it could be a while before I get a lot of work on this. Since the priority is high, I'd recommend someone else to work on it as well. If that's not very efficient I can also give up the task if needed.

[2019-01-26 22:06] JohnnySheffield opened #87 "Support contract code in the genesis file"
#### Description

* Support contract definitions in the genesis file.
* Calculate correct genesis hash when there are contracts defined in genesis so the chain can be synced.

[Example genesis with a precompiled contract defined](https://github.com/hpoa/lisinski/blob/ee11691c495a82948d30391c03226a46f771a4f8/geth/lisinski.genesis#L809)

Geth and Parity support this feature. Pantheon and Nethermind

[2019-01-27 09:57] JohnnySheffield commented on #87
Geth calculates "0x5e022e1e3ba4b48b9671ed5182f6442866cf0038acef2ee0ea81de4b86c770d6" for the example genesis file

[2019-02-20 23:35] unsol opened #91 "rpc uncaughtException"
I know RPC support is still being worked on, so please feel free to close this issue.

I tried the following methods to run the EthereumJS client:

1. Clone the repo, npm i, npm run build, ./bin/cli.js --rpc
2. Download release v0.0.5, npm i, npm run build, ./bin/cli.js --rpc
3. npm -g install ethereumjs-client, ethereumjs --rpc

Each way results in the following error:

`ERROR [02-20|23:28:43] un

[2019-02-20 23:41] vpulim commented on #91
Thanks @unsol. I’ll take a look

[2019-02-20 23:50] unsol commented on #91
Thank you! Keep up the great work! I currently have an EthereumJS Goerli node running. Seems to be ticking along just fine :)

[2019-02-21 01:54] vpulim commented on #91
@unsol I'm trying to reproduce the error, but I can only get it to happen if the RPC call is invalid. If I make a valid call (using the example [here](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbynumber)), it seems to work fine. For example, the following works:
[code]

However, the following invalid call (replacing "0x1b4" with the number 436) does indeed produce the error you saw

[2019-02-21 02:04] unsol commented on #91
Hmm... I was back and forth in to this, so I'm not 100% certain. I think it just happened shortly after starting the EthereumJS client, even without sending a request. Either that, or EthStats connected to it. I'm not quite sure. I can check it out tomorrow for you, if you need more information/logs.

I posted the steps I took to set up EthStats, and EthereumJS, here: https://www.mattbrill.com/201

[2019-02-21 02:09] vpulim commented on #91
Oops, I accidentally deleted my previous reply. I'm re-pasting here so your reply above makes sense :)

@unsol I'm trying to reproduce the error, but I can only get it to happen if the RPC call is invalid. If I make a valid call (using the example [here](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbynumber)), it seems to work fine. For example, the following works:
[code]

However,

[2019-02-21 02:13] vpulim commented on #91
@unsol I'm pretty sure it's EthStats, in which case, it's probably an RPC request format that EthereumJS client should support anyway. Before you do any more detective work let me submit a fix to see if it addresses the problem.

[2019-02-21 03:17] vpulim commented on #91
@unsol PR #92 should fix the crash on invalid RPC requests. However, since the EthereumJS client does not yet support all of the RPC methods required by EthStats, it will not work correctly yet.

[2019-02-21 03:57] unsol commented on #91
Awesome! Thank you!

Yeah no worries about it not working. It's just a testnet after all :)

Much appreciated!

[2019-02-21 03:57] #91 closed

[2019-02-21 15:55] #87 closed

[2019-02-21 15:55] vpulim commented on #87
@JohnnySheffield Sorry for the delay, but the genesis hash should now be computed correctly when there are contracts defined. This was fixed in #94

[2019-02-21 18:21] unsol opened #96 "RLPx uncaughtException"
I left EthereumJS, attached to Goerli, running overnight (no RPC this time. Launched only with "ethereumjs --network goerli"), and the client crashed.

Here are the steps I took to install the client:
1. sudo apt-get install build-essential
2. Follow the EthStats installation instructions steps one, and two
3. curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | sudo bash

[2019-02-21 18:41] vpulim commented on #96
Thanks again @unsol. These bug reports are extremely helpful. Keep 'em coming! 😄

A fix is on the way.

[2019-02-21 18:50] #96 closed

[2019-02-21 18:58] unsol commented on #96
Hey you're most welcome! Thank you for being so speedy! I'll clone the latest from master.

[2019-02-21 19:00] vpulim commented on #96
Out of curiosity, how long does it take you to sync the complete ``goerli`` blockchain? It takes me about 8 minutes right now on my 150Mbps broadband  connection.

[2019-02-21 19:15] vpulim opened #98 "Update ETH peer status via announcements"
Currently, we listen for ``NewBlockHash`` announcements from peers, but we don't do anything with them. We need to update peer status information with the latest block information so that we can sync new blocks.

[2019-02-21 19:19] unsol opened #99 "ECIES._decryptMessage AssertionError loop"
Here are the steps I took to get the client running

1. Delete the old source folder
2. Cloned master commit f84ea6b8cb4d0a1785b89a2040682681475073fd (Merge pull request #97 from ethereumjs/fix-rlpx-error)
3. npm i
4. ./cli.js --network goerli --identity "Blockchains LLC EthereumJS" --ethstats "BlockchainsLLC:TheActualPassword@https://stats.goerli.net"

After the first round of errors, I ran the c

[2019-02-21 19:23] vpulim commented on #99
Is that the correct stack trace? I don't see a ``ECIES._decryptMessage AssertionError``?

[2019-02-21 21:07] unsol commented on #99
Ahh.... nope! Sure is not! Haha! My bad.

`ERROR [02-21|19:19:21] AssertionError [ERR_ASSERTION]: should have valid tag: 719cc94b1735f34c2044fac3fdbad950aa6c1d42a3df238ec1a5560b2f420297 / 123832009579a77b5e4a0beb778ff874db02b6d1638e1d91ff3a0e6f4ed3073a
    at new AssertionError (internal/assert/assertion_error.js:396:11)
    at Object.assertEq (/home/ubuntu/ethereumjs-client/node_modules/ethereumj

[2019-02-21 22:17] vpulim commented on #99
No problem 😄 Ok, so that just looks like a peer sending bad messages. Those can be ignored and should probably only show them in debug mode. The reason nothing else is happening is likely due to this issue: https://github.com/ethereumjs/ethereumjs-client/issues/98

I'm going to assign this a low priority for now since it's not a critical error.

[2019-02-21 23:44] unsol commented on #99
Sounds good. Thank you!

[2019-02-26 19:07] JohnnySheffield commented on #87
Thanks for the update. Will try to sync a ethereumjs node with lisinski testnet and report back here. Cheers!

[2019-03-06 16:36] unsol opened #101 "JavaScript heap out of memory"
Got a new one for you! :)

EthereumJS 0.0.5 is running on an On-Demand AWS t2.large (2vCPU, 8GiB memory, 50GiB SSD with 150 IOPS and 46GiB free space remaining) EC2 using Ubuntu 18.04.2 LTS.

Console log doesn't look unusual before the crash.

[code]

[2019-03-06 16:41] unsol opened #102 "Key not found in database"
This one happened right on client start.

EthereumJS 0.0.5 is running on an On-Demand AWS t2.large (2vCPU, 8GiB memory, 50GiB SSD with 150 IOPS and 46GiB free space remaining) EC2 using Ubuntu 18.04.2 LTS.

Launched EthereumJS with `./cli.js --network goerli`

[code]

After that, the client seems like it's stuck in a loop. A peer sending some bad messages, followed by the "Key not found in databas

[2019-03-06 16:41] vpulim commented on #101
Thanks @unsol. Any more information you can provide will be helpful. For example: how long was the client running before it crashed? can you share more of the console.log before the crash?

[2019-03-06 16:47] vpulim commented on #102
That error usually means that it is not able to add a new block to the blockchain due to the parent hash not being found in the chain, most likely due to the block being on a different fork. If you are constantly getting this message, it could mean that the synchronized chain is not the canonical chain. Once #67 is fixed, this problem should go away, but for now the best around this is to delete t

[2019-03-06 16:52] unsol commented on #102
I did just that, and started on with another issue. I'll post it in a minute or three :)

I'll go ahead and close this one up, since it's being worked on elsewhere. Thank you!

[2019-03-06 16:52] #102 closed

[2019-03-06 16:56] unsol commented on #101
Hmm... If I had to guess, I'd say the last restart of EthereumJS was 13 days prior. The server itself has also been running for 13 days 18 hours, so I'd say that's a safe bet.

I can't go too terribly far back in the console, but I see mostly bad messages from peers (#99), with a few of these peppered in:
[code]

Those are the only messages I see before the crash.

[2019-03-06 17:08] unsol opened #103 "possible bootnode option issue?"
Okay, this one is confusing to me.

EthereumJS 0.0.5 is running on an On-Demand AWS t2.large (2vCPU, 8GiB memory, 50GiB SSD with 150 IOPS and 46GiB free space remaining) EC2 using Ubuntu 18.04.2 LTS.

After the #102 issue, I wiped everything, and started from scratch. Cloned the repo, npm i, npm run build, then `./cli.js --network goerli`

First time through, I get this
[code]

The peer error warn

[2019-03-06 17:09] unsol commented on #96
Oh! My apologies for the non-response. I'm currently synching Goerli, and I'm about 27,500 blocks in after a minute or two.

[2019-03-06 17:17] unsol commented on #103
You know what, I totally lied right there. My apologies! I extracted from the v0.0.5 tar'd release, and encountered those issues.

I wiped everything, actually cloned the repo this time, and things are synching without the empty bootnode option. I think that ghost crash was #96.

I still don't understand why it wasn't synching without an empty bootnode option though. Did the address change at some

[2019-03-06 17:28] vpulim commented on #103
Ok, phew 😅

Yeah, that error looked like the one that was fixed in #96. I think it was pure luck that it worked with the `--bootnode` option because I'm looking right now at the code, and that is not a valid option and gets totally ignored. The way you are supposed to specify a bootnode is via this option: `--transports rlpx:bootnodes=52.74.57.123:30303`

[2019-03-06 17:30] vpulim commented on #101
Ok, since the server was running for a while, I'd say there is a slow memory leak somewhere (probably from not handling bad peers or other errors properly).

This one may be hard to track down but I'll assign it a priority of `P2` until we find out more information.

[2019-03-06 17:33] unsol commented on #103
Weird! Well, guess I'm just under-caffeinated, and lucky. I'll close this up then. Sorry for making you sweat. Haha! Thanks again!

[2019-03-06 17:33] #103 closed

[2019-05-13 07:34] kumavis opened #105 "TypeError: Common is not a constructor"
bundle.js:48 Uncaught TypeError: Common is not a constructor

seems `ethereumjs-common` changed their exports.

[code]

[2019-05-13 07:48] kumavis opened #108 "Tests - test browser"
Browser entry point is not currently tested.

Even basic tests would help validate that the imports are correct.

[2019-05-13 08:30] kumavis opened #109 "Browser - synchronized event stats obj missing"
the stats object here is `undefined`
https://github.com/ethereumjs/ethereumjs-client/blob/dc747c441382904c2c0a0e98f2fc280f917eaf0c/browser/index.js#L67-L69

forwarded here, with stats (but undefined)
https://github.com/ethereumjs/ethereumjs-client/blob/dc747c441382904c2c0a0e98f2fc280f917eaf0c/lib/node.js#L87-L89

forwarded here, without stats
https://github.com/ethereumjs/ethereumjs-client/blob/dc

[2019-05-13 08:32] kumavis commented on #109
looks like the stats obj was dropped in this commit https://github.com/ethereumjs/ethereumjs-client/commit/e68234c260005ccea67c32706339fd8e88504b7b

[2019-05-16 12:27] #105 closed

[2019-05-16 12:40] #109 closed

[2020-06-01 09:22] holgerd77 opened #115 "Release Planning v0.0.6"
I would like to do a maintenance release here within the following 2-3 weeks with a version that is usable again on the current work state without friction.

TODOs:
- [x] Fix broken dependencies, `ethereumjs-common` update, PR #111
- [x] `ethereumjs-devp2p` update to `v3.0.0`
- [x] `ethereumjs-util` `v7.0.2` update, PR #129
- [x] Broader general dependency update
- [ ] Optional: update `libp2p` de

[2020-06-01 09:27] holgerd77 commented on #108
@ryanio @cgewecke could you guys eventually figure this out in a joint effort if this can be done with karma or alternative with some (on the first round super-basic) E2E test setup similar to the [web3.js E2E tests](https://github.com/ethereum/web3.js/tree/1.x/test)?

[2020-06-01 15:54] holgerd77 opened #116 "Error [ERR_STREAM_DESTROYED]: Cannot call write after a stream was destroyed"
[code]

This error is thrown repeatedly during a normal sync run and needs some further investigation.

[2020-06-01 15:56] holgerd77 opened #117 "Error: Request timed out after 5000ms"
Also some common and repeated output which interrupts the normal sync information flow:

[code]

This should be caught and channeled to the `debug` level logger output.

[2020-06-01 16:03] holgerd77 commented on #116
Also got this now with a more verbose communication output around:

[code]

[2020-06-01 16:20] holgerd77 opened #118 "Investigate ethereumjs-devp2p v3.0.0 connection problems"
Not really confirmed, but strong evidence that [ethereumjs-devp2p](https://github.com/ethereumjs/ethereumjs-devp2p) `v3.0.0` (currently: `v2.5.1`) has serious connection problems.

I did some back and forth installing, and got three times (close to) nothing on `v3` on each run (except from one of the import lines like below on one of the runs after a couple of minutes) compared to two relatively i

[2020-06-01 16:44] holgerd77 commented on #118
Took me some time, so some tip for debugging:

[code]

😛

[2020-06-01 16:48] holgerd77 commented on #118
One thing which is super-apparent when comparing the `devp2p` output while running `DEBUG=devp2p:rlpx,devp2p:eth,-babel ethereumjs`:

On `v2.5.1` there are tons of `BLOCK_HEADERS` and `BLOCK_BODIES` messages coming in (which is like it should be) like...

[code]

while on `v3.0.0` there are close to only `TX` messages coming in like:

[code]

(which is strange)

[2020-06-02 14:57] holgerd77 commented on #118
I couldn't reproduce here and today had rather cases the other way around. So I would cautiously say we can do the version bump to `v3.0.0` and further improve from there.

[2020-06-03 13:59] holgerd77 commented on #108
Got a start by #119, most tests are not activated yet though, so further work to be done.

[2020-06-03 14:19] holgerd77 commented on #68
I think this would be extremely valuable to re-vive, not only as a client test run but also as some automated and encompassing integration test run for various EthereumJS libraries integrated here, not yet - but at some point also the VM.

Some context: [Hive](https://github.com/ethereum/hive) is an expandable client- and language independent test harness currently used by different [clients](http

[2020-06-04 16:18] holgerd77 opened #121 "Fix lightsync example"
The [lightsync example](https://github.com/ethereumjs/ethereumjs-client#example-1-light-sync) from the README fails with the following error:

[code]

This should be investigated and fixed.

Eventually related respectively similar issue: https://github.com/ethereumjs/ethereumjs-client/pull/113

[2020-06-06 13:44] tomonari-t commented on #68
@holgerd77  Can I try it?

[2020-06-06 15:23] evertonfraga commented on #68
@tomonari-t sure you can!

Make sure to post early results, so we can collaborate as well if possible. =)

If you need anything, jump on our gitter channel.

[2020-06-06 16:55] holgerd77 commented on #68
@tomonari-t Nice 😄

Will also circle in @PhilippLgh, since I also asked him if he might want to give this a try. Eventually you can also collaborate on this, would be great! There is likely enough to do before this will work. 🙂

[2020-06-07 10:08] tomonari-t commented on #68
@evertonfraga Thank you for your advice and I joined the channel :)
And I will make the draft PR  as soon as possible.

@holgerd77 I got it!
I'll make a task list related to this issues!

[2020-06-07 10:09] tomonari-t commented on #68
# Task list

- [ ]
- [ ]

[2020-06-08 00:16] tomonari-t commented on #10
TS and JS can coexist and dependency libraries(ethereumjs-x) are written by TS.

So I think it's better to move to TS step by step.

[2020-06-08 07:10] holgerd77 commented on #10
@ryanio will be the man to talk to for this 😄

[2020-06-09 19:14] #121 closed

[2020-06-11 08:38] holgerd77 commented on #118
This is not reproducable, will close.

[2020-06-11 08:38] #118 closed

[2020-06-20 08:24] holgerd77 commented on #115
Closed by #135

[2020-06-20 08:24] #115 closed

[2020-06-20 08:26] holgerd77 commented on #117
Note: at least partially solved by https://github.com/ethereumjs/ethereumjs-client/pull/133, if no significant further observations on this during client runs we might be able to close here.

[2020-06-20 09:14] holgerd77 opened #136 "Beam Sync Support"
### Overview

Beam sync is an evolution of fast sync which starts sync on a launch block and only requesting state on demand and then slowly back-fill missing state. This allows to get to a head-of-chain execution within minutes while retaining healthy peer-to-peer networking properties to a greater extend.

An implementation in the client will allow for substantial new use cases in research, test

[2020-06-22 09:15] s1na commented on #136
Being able to beam sync will be amazing. I do think however that a full sync should come before. It's the most simple kind of sync and the logic (block processing, re-org, etc.) is needed for all other syncs, because even fast sync and beam sync transition to full sync after they reach the tip. So just from a roadmap PoV I think it might make sense to target that first.

[2020-06-22 11:24] holgerd77 commented on #136
I would give this a yes and no.

My argumentation that it might make sense to start early on with a beam sync implementation (as well):

1. **Beam sync doesn't need to be fully implemented to be useful.** If we are on the level that state is downloaded along the recent tx/block needs we could already start integrating the VM into the client, which would (Attention! Highly subjective opinion! 😄 ) o

[2020-06-22 11:34] holgerd77 opened #137 "Block pivot for launch block"
Nethermind [uses](https://github.com/NethermindEth/nethermind/blob/1e97abc131583f07ab40478b138cabf9599499b3/src/Nethermind/Nethermind.Runner/configs/rinkeby.cfg#L29) a hard-coded block number and hash (called a "pivot" there) as a launch block.

I would suggest that we implement this here as well - also mentioned this in #136 - otherwise catching up with the chain will taking still too long also o

[2020-06-22 11:38] s1na commented on #136
The (only? :D) good thing about full sync is that you don't need to download state. Integrate VM and start executing from block 0, .... I'm still of the opinion this is a hard requirement of beam sync. But that said I definitely agree with beam sync being the main vision.

[2020-06-25 07:30] holgerd77 commented on #136
@s1na mentioned in the chat from the call yesterday, that he would need the older HF implementations for his work. Then let's actually do this and start with implementing full sync here as Sina suggested. Implementing the old HF rules is on the table for quite some time anyhow - see https://github.com/ethereumjs/ethereumjs-vm/issues/652 - and apart from the VM integration (needed anyhow) full sync

[2020-07-01 18:20] jochem-brouwer commented on #136
I agree that Full Sync makes sense to implement first, but note that if we use Beam Sync on the current mainnet we can essentially use the VM out of the box (since we do not have to execute currently "unsupported" blocks (i.e. before Byzantium)).

I think I made this point on the call too: Beam Sync picks a "tip" / pivot point of the chain and starts executing this block. If it "lags behind too fa

[2020-07-07 08:29] PhilippLgh commented on #68
Hi @tomonari-t what is the current state on this?
Tried to get it working on mac and found this old issue: https://github.com/ethereum/hive/issues/100
For me it fails with:
[code]

It seems hive was never really meant to [run on something other than linux](https://github.com/ethereum/hive/issues/21#issuecomment-417577743).

Potential paths forward:
- try hard to get it working on mac
- follow the

[2020-07-07 09:03] PhilippLgh commented on #68
The error `error="ADD failed: stat /var/lib/docker/tmp/docker-builder766776894/ethereum/consensus/main.go: no such file or directory"` seems to be result of the wrong context.

With `-sim.rootcontext` the new error is `EROR[07-07|11:00:23] failed to lookup bridge IP               error="not found"`
Full command:

`./hive --docker-noshell --client=go-ethereum:master --sim=ethereum/consensus -sim.ro

[2020-07-07 09:12] PhilippLgh commented on #68
Also tried the devp2p example which seems to contain two issues:
`--sim-parallelism 1` => `--sim.parallelism 1`
`--test none` => does not exist?

full command:
`./hive --sim devp2p --sim.rootcontext --loglevel 6 --docker-noshell --results-root ./mytests/ --client go-ethereum_master --sim.parallelism 1`

results in same error:
`EROR[07-07|11:09:48] failed to lookup bridge IP               error="no

[2020-07-07 09:15] PhilippLgh commented on #68
Found the answer here: https://github.com/ethereum/hive/issues/184#issuecomment-473845318

..So I am thinking the way forward would be to fix the open issue on docker-noshell and update the docs to specify that OS X and docker-noshell are not incompatible. I will ping when done.

Not exactly sure though what this means.

[2020-07-07 11:15] holgerd77 commented on #68
@holiman can you eventually give a hint here?

[2020-07-07 11:32] holiman commented on #68
Hey!I would love to, but you have solved all 'easy' parts (the root context). You're now on an issue with Osx<-> docker, which I cannot fix or even test, as I'm on linux. I can only recommend that you use a linux for this instead of Osx. Sorry.This may or may not be fixable by using docker networks instead of bridged networks, though. I think the way hive currently does networking is more sensitiv

[2020-07-09 13:30] PhilippLgh commented on #68
hm.. it's also not working in the ubuntu vm:
[code]

[2020-07-09 13:35] PhilippLgh commented on #68
also getting this super weird error:
[code]

[2020-07-09 13:38] PhilippLgh commented on #68
@holiman any ideas? I can also try a different OS, go version..
[code]

[2020-07-09 14:27] PhilippLgh commented on #68
All of above problems went away with updating go to `go1.14.4 linux/amd64`.

[2020-07-09 14:36] PhilippLgh commented on #68
new error:
[code]

[2020-07-10 08:34] tomonari-t commented on #68
Sorry for the delay response... In couple weeks I'm really busy with coronavirus-related projects.
It looks like it will continue for another two weeks

[2020-07-10 14:06] PhilippLgh commented on #68
Gave it another shot with `16.04.6 LTS (Xenial Xerus)` because I found hints for a docker issue with 14.4 [here](https://meta.discourse.org/t/docker-copying-bootstrap-data-to-pipe-caused-write-init-p-broken-pipe/108947/17).

This seems to be working now: `hive --sim ethereum\\\\sync --sim.rootcontext --loglevel 6 --docker-noshell --results-root /mytests/test --client go-ethereum_master --sim.paral

[2020-07-13 08:31] holgerd77 commented on #68
I would really recommend you guys to transfer over this discussion over to Hive and either continue on a current issue or open a new one. These are at the end all Hive and not client questions/problems and it is more likely that someone will jump in who already has the knowledge + this will serve follow-up investigators better if this is documented there. Maybe even take some parts of the discussi

[2020-07-16 16:45] PhilippLgh opened #138 "Client creates `segmentation fault` on alpine linux (docker)"
#### Description

When the client is executed inside a docker container with alpine image it crashes with `segmentation fault`

Most likely related to https://github.com/cryptocoinjs/keccak/issues/15.
The alpine image is recommended by `hive`, so it would be great if this could get resolved.

It  is probably a problem with native code and could be caused by a `musl` vs `glibc` conflict.

[2020-08-26 16:08] jochem-brouwer commented on #137
I find the hard coding approach a bit weird.

Would it not make more sense to use `Status` of the `ETH` protocol to get the latest block number/hash of the best block, then request a recent block using `GetBlockHeaders` and then using that as the pivot block? (And update this pivot block after X blocks have passed). We should take a number and round it down to the last block which falls within thi

[2020-09-23 19:42] evertonfraga opened #142 "Prepare for migration to EthereumJS Monorepo"
Those are some of the requirements to move this lib to the VM monorepo:
- [x] Migrate to TypeScript, #144
- [ ] Rename `lib` folder to `src`
- [x] Remove coveralls configuration
- [x] Integrate @ethereumjs/config v2.0.0 shared configuration, #151, #152, #153
- [x] Remove Babel configuration (to be replaced by Typescript build), #144
- [x] Unify Readme and package.json with the monorepo standards

[2020-09-25 07:57] holgerd77 opened #143 "Build failing with new TypeScript Build Structure"
Building with `npm run build` is currently failing after the merge of #128 due to not exposed types by the `devp2p` package. I would assume that this was not triggered by node or browser tests since these are not running the whole build process but use `ts-node` respectively `karma-typescript` and the code paths on compilation are not reaching the missing type definitions.

Anyhow 😄 : this needs a

[2020-09-25 07:58] holgerd77 commented on #143
Ah, and for the record, following console output:

[code]

[2020-10-20 08:52] holgerd77 commented on #143
Fixed by https://github.com/ethereumjs/ethereumjs-devp2p/issues/87, will close.

[2020-10-20 08:52] #143 closed

[2020-10-20 09:31] holgerd77 opened #147 "Update test suite / Fix deactivated tests along TypeScript transition"
Many tests of the library have been deactivated during the `TypeScript` transition #144 to keep the test suite passing. One main problem was the usage of the [testdouble](https://github.com/testdouble/testdouble.js) mockup library, which plays not very well with an `ES6` / `TypeScript` combination. There is some added [ES6 support](https://github.com/testdouble/testdouble.js/blob/master/docs/7-rep

[2020-10-20 09:59] holgerd77 opened #148 "Integrate @ethereumjs/config v2.0.0 shared configuration"
This project has not yet been updated to work with the shared configuration setup from [@ethereumjs/config](https://github.com/ethereumjs/ethereumjs-config), which is also a precondition for #142

The following updates need to be made (likely as separate PRs):

- [x] `linting`: `standard` -> `@ethereumjs/config-lint` [v2.0.0](https://github.com/ethereumjs/ethereumjs-config/releases/tag/%40ethereum

[2020-10-20 10:53] holgerd77 opened #149 "Dependency Updates (or Removals)"
Due to the longer period of stalled development many dependencies within this project are outdated, see [package.json](https://github.com/ethereumjs/ethereumjs-client/blob/master/package.json) file for an overview.

Some first overview on types of dependencies to be addressed by some rough categorization:

1. Generic and widely used main dependency utility packages like the [ms](https://www.npmjs.

[2020-10-21 20:50] cgewecke opened #154 "Migrate browser folder files to typescript & fix npm build"
In #152 saw that `npm build` is failing with many module resolution errors during the webpack step (which uses ts-loader.)

Part of #142

[2020-10-22 22:39] cgewecke commented on #147
Just a status note: am currently working on `lib/blockchain` (integrating the latest monorepo releases). It's not listed above but its dependency problems are (likely) causing the karma tests to fail.

[2020-10-23 09:01] holgerd77 opened #156 "Update Monorepo and MPT Dependencies"
Complementary to #149

Now that the `beta.1` releases on the monorepo are out along https://github.com/ethereumjs/ethereumjs-vm/pull/922 the respective dependencies can be updated here on the client side (see [package.json](https://github.com/ethereumjs/ethereumjs-client/blob/master/package.json) for an overview). This comes along with the patricia tree (MPT) library to also to be updated.

Follow

[2020-10-23 09:04] holgerd77 commented on #147
@cgewecke Ok, have opened an issue #156 to support this and have some reference, had planned to do this anyhow once the releases are out. I've also assigned @rumkin, you should likely coordinate a bit if one of you want to tackle something specific.

[2020-10-23 16:36] cgewecke commented on #156
Hi @rumkin!

Just a note in case work might get duplicated...I am pretty far along with an initial attempt at this and will hopefully open a draft PR today which updates block, blockchain, and common.

[2020-10-23 16:49] cgewecke commented on #154
Closed via #155

[2020-10-23 16:49] #154 closed

[2020-10-23 21:28] rumkin opened #157 "Tests are failing on Node v14"
#### Description

Tests get failed when running with Node v14. Errors are in `test/integration/fastsync.js`. This is the output:

[code]

All failing assertions are related to the same error: `server.chain.block.header.number` isn't assigned:

https://github.com/ethereumjs/ethereumjs-client/blob/1abcd261513dec0f35b347078b620882d73748dc/test/integration/fastsync.ts#L39

https://github.com/ethereumj

[2020-10-26 22:47] cgewecke opened #159 "Refactor bin/cli.ts to TS (and add basic client test)"
`bin/cli.ts` still needs its imports and types worked through.

Would also be nice to have a simple test in CI that runs the client and listens for errors / makes sure blocks are being downloaded...
[code]

[2020-10-27 00:18] cgewecke commented on #148
Closing via #151, #152, #153

[2020-10-27 00:18] #148 closed

[2020-10-27 11:13] holgerd77 commented on #156
Ah, sorry @cgewecke and others, didn't add the MPT library update to the TODO list from above, likely the reason why it was skipped in #158, so will keep this issue open for now. No big deal though, can be updated along a separate PR or some other work.

[2020-10-27 20:16] #156 closed

[2020-10-30 16:48] rumkin opened #171 "Let users bring their own loggers"
#### Description

I'm working on #149 issue and exactly on PR #168 to update winston logger package. I've opened git comparison of changes made from [v3.1.0 to 3.3.3](https://github.com/winstonjs/winston/compare/3.1.0...v3.3.3) and found a lot of things to be audited:
    - Dependencies: 7
    - LOC: 657

I think an audit of all the changes would be pretty hard and actually is out of scope of Ethe

[2020-10-30 20:07] rumkin opened #172 "OS-specific data directory location"
#### Description

Default data directory location definition should be OS-specific and follow common practices. Storing blockchain data in home is usual behaviour for most blockchain software. In thee same time applications installed by OS's package manager store its data in one well-known place, for example MySQL on Ubuntu stores its data in `/var/lib/mysql`. This is prescribed by [FHS](https://e

[2020-11-03 19:34] ryanio commented on #172
once this is decided, it would be nice to add the [`admin_datadir`](https://geth.ethereum.org/docs/rpc/ns-admin#admin_datadir) endpoint to our rpc.

[2020-11-03 20:45] ryanio commented on #159
* `bin/cli.ts` types and imports being worked on in #160
* basic client test in #176

[2020-11-12 10:29] holgerd77 commented on #10
Fixed by #144 and following, will close.

[2020-11-12 10:29] #10 closed

[2020-11-12 12:12] holgerd77 opened #180 "Full Sync Support"
As agreed upon within the team we want to start with implementing a full sync mechanism before going over to something more sophisticated (like e.g. beam sync, see #136), since full sync is the most simple and purist way of syncing and getting to a recent network state.

For a full sync overview see e.g. [Ethhub](https://docs.ethhub.io/using-ethereum/running-an-ethereum-node/), we will likely want

[2020-11-12 12:26] holgerd77 commented on #180
Have made various updates to the initial comment, please read on site.

[2020-11-12 14:05] jochem-brouwer commented on #180
Hi @holgerd77, we should indeed focus on full sync first. A loose definition here would be to "fetch blocks" and run these on the chain. This is how you get your MPT to the tip of the chain (as opposed to fast sync where you download the entire MPT, or beam sync which selectively downloads nodes of the MPT). For now I think we should not bother with things like PoA and focus on a PoW chain, althou

[2020-11-13 08:36] holgerd77 commented on #180
Hi @jochem-brouwer, thanks for the answer on this, here are some additional notes from my side.

### FastSynchronizer/FullSynchronizer

We might be coming from some different angles here. I was looking at the code from [FastSynchronizer](https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/sync/fastsync.ts) and after skimming through the different functions like `best()` or `syncWithPee

[2020-11-13 14:47] jochem-brouwer commented on #180
Some notes here:

Regarding syncing, I don't think in (a) that the naming was a mistake due to [this comment](https://github.com/ethereumjs/ethereumjs-client/blob/51f951320da5030bccb5393faf89f604ea42d4df/lib/sync/fastsync.ts#L117). In full sync you don't fetch the state trie; you "calculate"/populate it by running the VM. The problem with (b) is that if you make FastSync depend upon FullSync this

[2020-11-16 11:16] holgerd77 commented on #180
In case we come to the conclusion that there is nothing fast sync specific yet in the code we nevertheless might want to consider just to rename, we don't want to do a fast sync implementation for quite some time, right? And it likely doesn't make that much sense to have a half-ready fast sync implementation exposed if we won't continue the work there.

Have given the PoA spec some closer look ove

[2020-11-17 18:45] jochem-brouwer commented on #180
I think this is a very good proposal; fast sync has all of the code which we need for full sync, and any specific fast-sync code does not appear to be present yet (have not found any). So just renaming this sounds like a good idea here.

Yes, in case that there is a valid block where we have a consensus issue then the `blockchain` package would keep reporting that the canonical chain is the actual

[2020-11-20 21:26] jochem-brouwer opened #186 "Where to put VM?"
We want to integrate the VM in the client. Where do we want to put it? We discussed putting this in config, so people can use their custom implementation of the VM. The problem is, though, that in the constructor of VM we need access to Common ([available in config](https://github.com/ethereumjs/ethereumjs-client/blob/b612cfbf70058ba3a22c7f5866ffaf7f2b7f659e/lib/config.ts#L132)) and Blockchain ([c

[2020-11-21 09:00] holgerd77 commented on #186
Ah, just read this after commenting on #187. Just had a look at the Blockchain initialization, should be no problem to move this to config, `db` should also be moved over there along, this is currently a separate option in `node.ts`.

I would suggest the following:

- Move `db` to Config and initialize there instead of in `bin/cli.ts`, keep internally for now (so no option, but `config.db`)
- Move

[2020-11-21 09:21] holgerd77 commented on #186
Ah, if we don't use runBlockchain you don't need to pass the blockchain object to the VM, so you can just move the VM to Config and leave everything else

[2020-11-21 13:38] jochem-brouwer commented on #186
I will implement your suggestion. Note that it is critical that the VM blockchain points to the blockchain which we need for `BLOCKHASH`, if we pass a different blockchain then it is possible that either the block does not exist, or it is the wrong block.

[2020-11-21 18:44] jochem-brouwer commented on #186
Do we want to keep the `chain` and `db options available in `EthereumServiceOptions`? They seem redundant now that these options are put in the `config`, we can read from there.

However, this option is used in the tests - therefore we should make expose `blockchain` and `db` available as options in config. Thoughts?

[2020-11-23 16:14] jochem-brouwer commented on #186
Right I keep finding these issues when moving stuff to config. In `test/util.ts` we create two Config objects. This is problematic because these try to open two databases on the same sync dir, which is not possible on leveldb.

[2020-11-24 11:57] holgerd77 commented on #186
Just as a general answer on first round, independent from how we decide here: options added to config should then definitely removed from dedicated class files (like `EthereumService` in this case), this is one of the main reasons for the Config introduction to streamline here.

`test/util.ts` doesn't exist for me (?) but apart from that I would very much assume that this should be easily solvable

[2020-11-24 15:41] #186 closed

[2020-11-24 15:46] jochem-brouwer commented on #186
Ah sorry I meant `test/integration/util.ts`.

What do you mean here by "options added to config"? Can you give an example? Are these the options like the `chain` and `db` in `EthereumServiceOptions`? What options are also added in config?

[2020-11-25 08:20] holgerd77 commented on #186
With "options added to config" I mean everything which is [exposed](https://github.com/ethereumjs/ethereumjs-client/blob/master/lib/config.ts#L115) by the config instance passed from class to class. These properties should then always be accessed through e.g. `config.syncmode` and not passed from class to class any more which would be redundant.

Most of these options are also exposed as the [publ

[2020-11-25 08:36] holgerd77 commented on #186
Some additional note on "public API" - if this might not be clear on first read: the `Node` class will become at some point - at least that's my current view on this - become (or is already) the entrypoint to the client with the public API being encapsulated by the `Config` class. This will be how people will use the client programatically.

That's why I wouldn't regard the current `Node` class in

[2020-11-28 15:42] jochem-brouwer commented on #136
I will dump here my thoughts on how beam sync should be implemented.

- Beam sync needs to have a specific class in which handles running a block in beam sync. That way we can also run the client and tell it, "run block X".
  - It also needs a way to stop running the current block, e.g. when we are actually beam syncing and the current block becomes stale (we switch the pivot block)
  - The BeamSy

[2020-12-04 09:17] holgerd77 commented on #99
Haven't seen this error for quite a while, will close, feel free to reopen if still persists.

[2020-12-04 09:17] #99 closed

[2020-12-04 09:24] holgerd77 commented on #117
Will close this for now.

[2020-12-04 09:24] #117 closed

[2020-12-04 09:30] holgerd77 commented on #137
Ah, this never got an answer, sorry: while this would be a lot more convenient a recent block from the network standing on its own can't be trusted unfortunately, this can be an arbitrary block form a malicious peer and we have no way to validate. So a hardcoded pivot block can be used to have a trusted base (hash) to start from.

[2020-12-04 09:34] holgerd77 commented on #142
Closed by https://github.com/ethereumjs/ethereumjs-vm/pull/973

[2020-12-04 09:34] #142 closed

[2020-12-04 09:35] holgerd77 commented on #147
Closed by #182, thanks @ryanio 😄

[2020-12-04 09:35] #147 closed

[2020-12-04 15:33] unsol commented on #99
No news is good news! Thanks for the update.